* {
    margin: 0px;
 font-family: "Segoe UI";
    color: white;
    background-color: black;
}

.wd-left-offset {
    /*padding-left: 16px;*/
    background-color: black;
    border-left: 2px solid rgb(47, 51, 54);
    border-right: 2px solid rgb(47, 51, 54);
    margin-left: 32px;

}

.wd-horizontal-borders {

}

.wd-search-bar {
    border-radius: 16px;
    border: none;
    color: white;
    background-color: darkgrey;
    height: 32px;
    padding-left: 48px;
    width: 80%;
}

.wd-search-icon {
    position: absolute;
    left: 56px;
    top: 22px;
    background-color: transparent;
}

.wd-gear-icon {
    position: absolute;
    right: 12px;
    top: 22px;
    background-color: transparent;


}

.wd-sectionA {
    padding-left: 16px;

    padding-bottom: 32px;
    padding-top: 16px;
}

.wd-row {
    clear: both;
}

.wd-col {
    float: left;

}

.wd-float-done {
    clear: both;
}

.wd-selected-link-horizontal-padding {
    padding-left: 0px;
    padding-right: 16px;
}

.wd-selected-link {
    color: rgb(29,161,242);
    font-size: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 3px solid rgb(29,161,242);;
}

.wd-link {
    color: rgb(110, 118, 125);
    font-size: 15px;
    padding: 16px;
}

.wd-sectionB {
    padding-left: 16px;

}

.wd-spacer {
    height: 16px;
    /*margin-top: 1px;*/
    border-bottom: 3px solid rgb(47, 51, 54);
    border-top: 3px solid rgb(47, 51, 54);
    background-color: #13151b;

}

.wd-trending-text {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-title-text {

    color: white;
}

.wd-tweetC {
    padding-left: 16px;

    border-top: 1px solid rgb(47, 51, 54);
    border-bottom: 1px solid rgb(47, 51, 54);
    padding-top: 16px;
    padding-bottom: 16px;
}

.wd-tweetD {
    padding-left: 16px;

    border-top: 1px solid rgb(47, 51, 54);
    border-bottom: 1px solid rgb(47, 51, 54);

    padding-top: 16px;
    padding-bottom: 16px;


}

.wd-tweet-image {
    float: right;
    border-radius: 16px;
    width: 100px;
    height: 100px;
    margin-right: 16px;
}

.wd-tweet-text-section {
    float: left;
}

.wd-tweetE {
    padding-left: 16px;

    border-top: 1px solid rgb(47, 51, 54);
    border-bottom: 1px solid rgb(47, 51, 54);

    padding-top: 16px;
    padding-bottom: 16px;


}


