
.wd-bookmarks-header {
    padding-left: 16px;
    padding-top: 12px;
    font-size: 20px;
}

.wd-user-handle {
    color: lightgray;
    font-size: 13px;
    padding-left: 16px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(47, 51, 54);
}

/*REFERENCE: https://stackoverflow.com/questions/9409632/border-radius-and-padding-not-playing-nice*/
.wd-avatar-image {
    background-color: transparent;

    height: 48px;
    width: 48px;
    border-radius: 32px;
    margin-left: 16px;
    margin-top: 12px;
    float: left;
}


.wd-author {
    background-color: transparent;
    font-size: 15px;
    padding-top: 60px;
    color: white;
}

.wd-tag {
    background-color: transparent;

    font-size: 15px;
    color: lightgray;
}

.wd-content {
    background-color: transparent;
    color: white;
    padding-right: 16px;
    padding-bottom: 12px;
    max-width: 506px;
    font-size: 15px;
}

.wd-tex-area {
    padding-left: 12px;
    float: left;
}

.wd-image-border {
    border: 1px solid rgb(47,51,54);
    border-radius: 16px;
    width: 504px;
    margin-left: 76px;
    /*REFERENCE: https://stackoverflow.com/questions/12403998/border-is-cutting-off-when-using-border-radius*/
    overflow: auto;
}

.wd-post-image {
    width: 504px;
    height: 264px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom: 1px solid rgb(47,51,54);
}

.wd-image-caption {
    color: lightgray;
    padding: 12px;
    font-size: 15px;
}

.wd-image-title {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15px;
    font-weight: bold;
    color: white;

}

.wd-icon-row {
    padding-top: 12px;
    padding-left: 80px;
    max-width: 506px;

}

.wd-icon {
    width: 24px;
    padding-right: 12px;
    /*REFERENCE: https://stackoverflow.com/questions/489340/vertically-align-text-next-to-an-image*/
    vertical-align: middle;
}

.wd-col-icon {
    float: left;
    width: 25%;
}

.wd-red-text {
    color: red;
}

.wd-icon-text {
    color: lightgray;
}
a {
    text-decoration: none;
}

.wd-post {
    padding-top: 12px;
    padding-bottom: 12px;
}

